@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  position: relative;
}
html{
  scroll-behavior: smooth;
}


#About {
  width: 100%;
  min-height: 100%;
  
}
#Feature {
  width: 100%;
  min-height: 100vh;
}
#Product {
  width: 100%;
  min-height: 100vh;
}
#Contact {
  width: 100%;
  min-height: 100vh;
}







