@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  position: relative;
}
html{
  scroll-behavior: smooth;
}
.App {
  overflow-x: hidden;
  
  background: url('./media/foto2.webp') no-repeat fixed 50%;
}


#About {
  width: 100%;
  min-height: 100%;
  background: #fff;
  
}
#Feature {
  width: 100%;
  min-height: 100vh;
  background: #fff;
}
#Product {
  width: 100%;
  min-height: 100vh;
}
#Contact {
  width: 100%;
  min-height: 100vh;
  background: #fff;
}







